h1 {
	color: blue;
	background-color: yellow;
	border: 1px solid black;
}
/* Handle basic element styling */
/* ------------------------------------------------------------------------------------------------------- */
body {
	font: 1em/150% Helvetica, Arial, sans-serif;
	padding: 1em;
	margin: 0 auto; /* This will center the body in the browsers window. */
	max-width: 33em;
}

@media (min-width: 70em) {
	/* Let's special case the global font size. On large screes or window,
	   we increase the font size for better readability*/
	body {
		font-size: 130%;
	}
}

h1 { font-size: 1.5em; }

/* Handle specific elements nested in the DOM */
/* ------------------------------------------------------------------------------------------------------ */
div p, #id:first-line {  /* Styles will only be applied to the first line of the paragraph id'ed as #id. 
                            After that, all text will be styled like normal (hint: note the comma). */
	background-color: aquamarine;
	border-radius: 12px;
}

div p {
	margin: 0;
	padding: 1em;
}
div p + p {
	padding-top: 0; /* This removes the top padding from the second and following paragraphs of a <div> */
}

p {
	color: red;
}