span {
	background-color: yellow;
}

/* This is for the 15FEB20 image at the bottom of the article. */
#bgimage00 {
	width: 100%;
	height: 100px;
	margin-bottom: 40px;
	background-image:
	  linear-gradient(to right, rgba(220,0,225,0.3), rgba(64,148,128,0.5)),
	  url(../images/f14-crew.jpg);
}

/* This is for the 30SEP20 CSS ARROW in the aside. */
.arrow_box {
	display: block;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	padding-top: 20px;
	width: 90%;
	height: 64px;
	position: relative;
	background: #6b9ad1;
	border: 4px solid #264A25;
	border-radius: 8px;
	
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(18, 104, 110, 0);
	border-right-color: #6b9ad1;
	border-width: 12px;
	margin-top: -12px;
}
.arrow_box:before {
	border-color: rgba(34, 245, 76, 0);
	border-right-color: #264A25;
	border-width: 18px;
	margin-top: -18px;
}
.arrow_box:hover{
	font-size: 120%;
}