html {
  font-size: 16px; /* px means "pixels": the base font size is now 16 pixels high  */
  font-family: 'Roboto', sans-serif; /* this should be the rest of the output you got from Google fonts */
  letter-spacing: .2px;
  background-color: #264A25;
}
body {
	width: 1000px;
	margin: 0 auto;
	background-color: #99C7EF;
	padding: 0 20px 40px 20px;
	border: 2px solid black;
}
h1 {
  margin: 0;
  padding: 8px 0 4px 0;
  font-size: 52px;
  text-align: center;
  color: red;
  text-shadow: 2px 2px 2px black;
}
h2 {
  margin: 0;
  padding: 0 0 14px 0;
  text-align: center;
  color: blue;
  text-shadow: 1px 1px 1px black;
}
h3 {
  color: green;
}
h5 {
	margin: 0;
	color: green;
	font-size: 18px;
 }
 /* hr is for the horizontal rule, duh... */
hr {
  color: blue;	
 }
p, li {
  width: 1000px;
  line-height: 1.2;
  letter-spacing: .2px;
}
aside {
	width: 20%;
	margin-top: 1.2rem;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}
/* with out the comma between aside & p, limits this attrbute
	to only the paragrah inside the aside element, I think, anyway.. */
 aside p { 
	width: 100%;
	margin: .5rem;
}
 article img {
	width: 100%;
}
figure {
	margin: .5rem;
}
/* Removing Image width css attribute as a site wide funtion for now,
   as it was interfering with the native inset of svg images.
   Set the width using the with attribute in the html image element*/
img { 
	// width: 100%;
	// display: block; /* removed as interfering with responsive images globally */
	margin: 0 auto;
}
#contact-image {
	width: 33%;
    padding-left: .5rem;
    margin-top: 1;
	margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
}
#welcomecallsign {
	color: blue;
	text-align: center;
}
#paragrah1 {
	border: 1px solid blue;
	width: 360px;
	padding: 0 0 0 6px;
	margin-bottom: 32px;
}
#paragrah2 {
  font-size: 14px;
  color: red;
  text-align: right;
  padding-right: 12px;
  align: right;
  border: 1px solid red;
  width: 24%; 
    float: right;
    -- position:relative;
}
#dcsimage {
	width: 60px;
	display: block;
	margin: 0 auto;
	float: right;
    -- position:relative;
}
#ulborder {
	width: 220px;
	border: 1px solid black;
}
#dlborder {
	border: 1px solid green;
	padding: 12px;
}
span.bluetext {
	color: blue;
}
span.greentext {
	color: green;
}
span.centext {
	text-align: center;
}
span.greytext {
	color: grey;
}
.center {
	display: block; /* centers this item  */
	margin: 0 auto;
}
.warning {
	border: 4px ridge red;
	background-color: yellow;
	padding: .5rem;
	display: flex;
	flex-direction: column;
}
.warning img {
	width: 100%;
	border: .5px solid red;
}
.warning p {
	font: small-caps bold 1.4rem sans-serif;	
	text-align: center;
	color: red;
}