table {
  // border-collapse: collapse;
  border: 2px solid white;
  
}
td, th {
	border: 1px solid grey;
	padding: 10px 20px;	
}
th {
	letter-spacing: .4px;
}
td {
	text-align: center;
}
caption {
  padding: 10px;
}